OPENAI_API_KEY="sk-xxx"

# mapbox token
NEXT_PUBLIC_MAPBOX_TOKEN = ''

# restful base_url
API_BASE_URL = ''

# WS base_url
WS_BASE_URL = ''

# pg配置
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/mapgpt?schema=qa"


# NEXT_AUTH 配置
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET=""

#GITHUB 登录配置
# Next Auth Discord Provider
GITHUB_ID=""
GITHUB_SECRET=""
